.content{
    width:80%;
    height:80%;
    background-color: white;
 position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-left:3px solid yellow;
    border-right:3px solid yellow;
    border-bottom:3px solid yellow;
    z-index:1;
    background-color: darken(white,5%);
    
   


}
.contentActive{
    overflow:scroll;
    overflow-x:hidden;
}
