.kwalifikacje{
 border:1px solid black;
 height:80vh;   
 

}
//*FORK-LIF*//
.forklift{
    border:1px solid black;
    width:100%;
    height:15%;
    display:flex;
    margin-top:2%;
}
.imgFL{
    width:10%;
}
.opisFL{
    border-left:1px solid red;
    width:75%;
    height:100%;
}
.fdp{
    font-size:2rem;
    font-family: 'Josefin Sans';
margin-top:2%;
}
.link{
    display:block;
  
    display:flex;
    justify-content: center;
    align-items: center;
    width:15%;
}
.link a{
    font-weight: bold;
    font-size:1.3rem;
    text-decoration: none;
    color:green;
    -webkit-text-stroke:1px red;
}//*Auto*//
.auto{
    border:1px solid black;
    width:100%;
    height:15%;
    display:flex;
    margin-top:.5%;
}
.imgAuto{
    width:10%;
}
.opisAuto{
    border-left:1px solid red;
    width:75%;
    height:100%;
}
.autop{
    font-size:2rem;
    font-family: 'Josefin Sans';
margin-top:2%;
}
.link{
    display:block;
  
    display:flex;
    justify-content: center;
    align-items: center;
    width:15%;
}
.link a{
    font-weight: bold;
    font-size:1.3rem;
    text-decoration: none;
    color:green;
    -webkit-text-stroke:1px red;
}
//*LORRY*//
.lorry{
    border:1px solid black;
    width:100%;
    height:15%;
    display:flex;
    margin-top:.5%;
}
.imgLorry{
    width:10%;
}
.opisLorry{
    border-left:1px solid red;
    width:75%;
    height:100%;
}
.lorryp{
    font-size:2rem;
    font-family: 'Josefin Sans';
margin-top:2%;
}
.link{
    display:block;
  
    display:flex;
    justify-content: center;
    align-items: center;
    width:15%;
}
.link a{
    font-weight: bold;
    font-size:1.3rem;
    text-decoration: none;
    color:green;
    -webkit-text-stroke:1px red;
}
.c{
    font-weight: bold;
    -webkit-text-stroke:1px green;
}
//*JAVA-SCRIPT*//
.js{
    border:1px solid black;
    width:100%;
    height:15%;
    display:flex;
    margin-top:.5%;
}
.imgJs{
    width:10%;
}
.opisJs{
    border-left:1px solid red;
    width:75%;
    height:100%;
}
.jsp{
    font-size:2rem;
    font-family: 'Josefin Sans';
margin-top:2%;
}
.link{
    display:block;
  
    display:flex;
    justify-content: center;
    align-items: center;
    width:15%;
}
.link a{
    font-weight: bold;
    font-size:1.3rem;
    text-decoration: none;
    color:green;
    -webkit-text-stroke:1px red;
}
//*REACT**//
.react{
    border:1px solid black;
    width:100%;
    height:15%;
    display:flex;
    margin-top:.5%;
}
.imgReact{
    width:10%;
}
.opisReact{
    border-left:1px solid red;
    width:75%;
    height:100%;
}
.reactp{
    font-size:2rem;
    font-family: 'Josefin Sans';
margin-top:2%;
}
.link{
    display:block;
  
    display:flex;
    justify-content: center;
    align-items: center;
    width:15%;
}
.link a{
    font-weight: bold;
    font-size:1.3rem;
    text-decoration: none;
    color:green;
    -webkit-text-stroke:1px red;
}