.forkliftPage{
   font-family: 'Josefin Sans';
  border:1px solid red;
  text-align: center;
 
}
.h1Title{
    margin-top:3%;
}
.ulListRes{
font-size:1.5rem;
}
.h1SecondTitle{
    color:orange;
  
}
.nazwaFirmy{
    font-size:1.1rem;
    font-weight:bold;
    margin-top:1%;
    color:lighten(black,20%)
}
.licencjaWozki{
    width:50%;
}
.h1Certify{
    color:lighten(orange,1%)
}
.headback{

 
}