.loryPage{
text-align:center;

font-family: 'Josefin Sans';
}
.h1loryPage{
    margin-top:2%;
}
.return{
    width:20%;
    height:6vh;
    box-shadow:2px 2px 2px 2px gray;
    border:none;
    font-size:2rem;
    color:gray;
    text-shadow:2px 2px 2px  gray;
}
.return:hover{
    color:black;
    box-shadow:3px 3px 3px 3px gray;
}