* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .container {
    max-width: 100%;
    overflow: hidden;
    font-family: 'Josefin Sans';
  }
  #canvas {
    position: absolute;
    z-index: -1;
    background: linear-gradient(135deg, gray, gray, gray, blue);
  }
  .nav {
    height: 10vh;
    background-color: #faa200;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
  }
  .ulNavbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 100%;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  .ulNavbar a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px darkblue;
    color: yellow;
    height: 100%;
    width: 100%;
  }
  .me {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cred {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*-------------------------------------------*/
.aboutme {
  height: 90vh;
}

.name {
  text-align: center;
  -webkit-text-stroke: 1px white;
  font-weight: bold;
}

.firstp {
  text-align: center;
  font-size: 1.5rem;
  color: darkgreen;
}

.pp {
  font-size: 1.5rem;
  text-align: center;
  color: orange;
}

.circle {
  width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  -webkit-animation: runCircle 20s infinite linear;
          animation: runCircle 20s infinite linear;
}

@-webkit-keyframes runCircle {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes runCircle {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.emClass {
  color: darkblue;
  text-align: center;
  height: 10%;
  -webkit-text-stroke: 1px yellow;
}

.klik {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 1.5rem;
  -webkit-text-stroke: 1px white;
}

.contact1 {
  overflow: hidden;
}

.h1contact {
  -webkit-text-stroke: 1px darkred;
  text-align: center;
}

.fon {
  text-align: center;
}

.byfon {
  font-size: 2.5rem;
  color: red;
  -webkit-text-stroke: 1px darkblue;
}

.telefon {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 40%;
}

.h1email {
  -webkit-text-stroke: 1px darkred;
  text-align: center;
}

#email {
  background-color: skyblue;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.textarea {
  height: 100px;
  width: 300px;
  background: skyblue;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.send {
  position: relative;
  left: 50%;
  width: 95%;
  background: -webkit-gradient(linear, left top, right top, from(gray), to(darkblue));
  background: linear-gradient(to right, gray, darkblue);
  color: white;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.label {
  position: relative;
  left: 30%;
  color: darkred;
}

.kwalifikacje {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.row {
  border: 5px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imgI {
  width: 30%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.contentActive {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.describe {
  text-align: center;
}

.p {
  color: darkorange;
  font-size: 1.5rem;
}

em {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.link {
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 1px skyblue;
}

.h1Title {
  text-align: center;
  margin-top: 7%;
}

.h2Text {
  color: darkorange;
  text-align: center;
  -webkit-text-stroke: .7px blue;
}

.ulListRes {
  text-align: center;
}

.h1SecondTitle {
  text-align: center;
  -webkit-text-stroke: 0.2px white;
}

.nazwaFirmy {
  font-size: 1.2rem;
  color: darkgreen;
  text-align: center;
}

.return {
  width: 100%;
  height: 40px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 4px gray;
          box-shadow: 2px 2px 2px 4px gray;
  background-color: #9a9a9a;
  color: white;
  font-size: 1.5rem;
}

.h1Certify {
  text-align: center;
  -webkit-text-decoration: underline red wavy;
          text-decoration: underline red wavy;
}

.licenceForkLift {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */